.heading{
    color: #146C94;
    font-size:  60px;
}


body{
    font-family: 'Abril Fatface', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

#object_input{
    border-radius: 15px;
    width: 300px;
    height: 30px;
    border-color: transparent;
}

#startBtn{
    background-color: #146C94;
    width: 70px;
    height: 30px;
    color: aliceblue;
    border-radius: 30px;
    border-color:#146C94 ;
}

.canvas{
    border-radius: 15px;
 
  

}